article{
  float:left;
  width: 100 px;
  border: 10px;
 }
 
 img{
	margin-left:30px;
}
 
#contenedor{
	width: 1350px;
	border: 1 px solid #000000;
	margin: 0 auto;
	height: 300px;
	text-align: center;
}

h1{
	color: #000000;
	font-size: 35px;
	font-family: Verdana;
	text-align: center;	
}

h4{
	font-family: Verdana;
	text-align: center;
	font-size: 10px;	
}

imagen{
	border: PowderBlue 5px solid;
	border-radius: 10px;
}
